{% extends 'vetty_layout.html' %}
{% block content %}
    <div class="login-box">
        <h4> Hi {{ client_user.first_name }}, </h4>

        <p> Its been over 5 days since {{ applicant.first_name }} has not provided SSNTrace data as we faced some exception due to that. Without this information we are unable to perform the verification. <br>

            We tried following up a few times but have not been able to get the information. Maybe
            they could use a nudge from you?
            {% if applicant.phone_number %}
                Try giving them a call at {{ applicant.phone_number }} or shoot them an email at
                <a href="mailto:{{ applicant.email }}"> {{ applicant.email }} </a>
                .
            {% else %}
                Try shooting them an email at <a href="mailto:{{ applicant.email }}"> {{ applicant.email }} </a>
                .
            {% endif %}

            <br>

            If you would like to see additional details on this applicant log into the Vetty Dashboard.

        </p>

        <p>
            <button class="custom reset-button" style="width: auto;padding: 0;border-radius: 5px;border: none;height: auto;">
                <a href="http://client.vetty.co/" style="background-color: #3b87da;padding: 12px 10px;border-radius: 5px;text-decoration: none;font-size: 14px;color: #ffffff;">
                    <font color="white"> Login to Vetty</font>
                </a>
            </button>
        </p>

    </div>
{% endblock %}