{% extends 'vetty_default_letter.html' %}
{% block content %}
<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%" role="presentation">
    <tbody>
      <tr>
        <td class="pc-sm-p-35-30 pc-xs-p-25-20" style="vertical-align: top; padding: 40px; background-color: #ffffff" valign="top" bgcolor="#ffffff">
          <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%" role="presentation">
            <tbody>
              <tr>
                <td class="pc-fb-font pc-xs-br-disabled" colspan="2" style="vertical-align: top; line-height: 1.56; font-family: 'PT Serif', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 300; letter-spacing: -0.2px; color: #111620" valign="top">
                    <div>
                        <p> {{applicant.first_name}} {{ applicant.last_name }} has filed a dispute concerning case {{ alert_text }}.
                            {% if pre_adv_initiated %}
                                Pre-adverse action subject cases are:
                                <ul>
                                {% for case in applicant.client_results.subject_cases %}
                                    <li> {{ case.case_id }}: {{ case.case_description }} </li>
                                {% endfor %}
                                </ul>>
                            {% endif %}
                        </p>
                            <p>Take a look in the researcher portal:  <a href="http://researcher.vetty.co"> link </a></p>
                    </div>
                </td>
              </tr>


            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>   
{% endblock %}