{% extends 'vetty_layout.html' %}
{% block content %}
<div>
<p> {{applicant.first_name}} {{ applicant.last_name }} has filed a dispute concerning case {{ alert_text }}.
    {% if pre_adv_initiated %}
        Pre-adverse action subject cases are:
        <ul>
        {% for case in applicant.client_results.subject_cases %}
            <li> {{ case.case_id }}: {{ case.case_description }} </li>
        {% endfor %}
        </ul>>
    {% endif %}
</p>
    <p>Take a look in the researcher portal:  <a href="http://researcher.smartscreen.tech"> link </a></p>

</div>
{% endblock %}