{% extends 'vetty_default_template.html' %}
{% block content %}
<table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tbody>
      <tr>
        <td class="pc-xs-p-15-10-20 pc-sm-p-20-20-25" style="padding: 20px 30px 35px; background-color: #ffffff" bgcolor="#ffffff" valign="top">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
              <tr>
                <td style="font-size: 0;" valign="top">
                  <!--[if (gte mso 9)|(IE)]><table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation"><tr><td width="255" valign="middle"><![endif]-->
                  <div class="pc-sm-mw-100pc" style="display: inline-block; width: 100%; max-width: 255px; vertical-align: middle;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                      <tbody>
                        <tr>
                          <td class="pc-sm-ta-center" valign="top" style="padding: 10px;">
                            <a href="" style="text-decoration: none;"><img src="https://devapplicant.vetty.co/assets/emails/images/vetty-logo-@2x-hf0.png" width="130" height="" alt="" style="max-width: 100%; height: auto; border: 0; line-height: 100%; outline: 0; -ms-interpolation-mode: bicubic; font-size: 14px; color: #1B1B1B;"></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!--[if (gte mso 9)|(IE)]></td><td width="285" valign="middle"><![endif]-->
                  <div class="pc-sm-mw-100pc" style="display: inline-block; width: 100%; max-width: 285px; vertical-align: middle;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                      <tbody>
                        <tr>
                          <td class="pc-sm-ta-center" valign="top" style="padding: 9px 10px 10px; line-height: 18px; font-family: Helvetica, sans-serif; font-size: 14px;">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                </td>
              </tr>
              <tr>
                <td height="18" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
              </tr>
              <tr>
                <td class="pc-fb-font" style="padding: 10px 10px 0 10px; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 300; line-height: 28px; letter-spacing: -0.2px; color: #111620" valign="top">

                  <p>{{body}}</p>

                </td>
              </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  {% endblock %}