<html lang="en">

{% block head %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .app-background {
            background-color: #cee1f6;
            height: 100%;
            width: 100%;
            font-family: Tahoma, Verdana, Segoe, sans-serif !important;
        }

        * {
            box-sizing: border-box;
            font-size: 1em;
        }

        .form-button {
            padding: 0px !important;
        }

        .container.wrapper.wrapper p {
            text-align: center;
        }

        .login-header {
            text-align: center;
            color: white;
            font-size: 30px;
            padding: 10px;
        }

        .login-box {
            background-color: white;
            padding: 40px;
            margin: 0 auto 17px;
            width: 100%;
            border-radius: 5px;
            color: #111620;
        }

        .login-border{
            padding: 30px;
            width: 70%;margin: 0 auto;
            color: #111620;
        }

        .copy-box {
            text-align: center;
            padding-top: 5px;
            padding-bottom: 20px;
        }

        .reset-button {
            background: #3b87da;
            font-weight: bold;
            color: white;
            height: 50px;
            font-size: 15px;
            padding: 12px;  
            border:1px solid #3b87da;           
        }

        .reset-button a{
            color:white;
            text-decoration: none;
        }

        .reset-box {
            padding-top: 20px;
        }

        @media screen and (max-width: 560px) {
            .login-box {padding: 0px;}
            .login-border{width: 80%;}
        }
        
    </style>
    <meta charset="utf-8">
    <title>VettyApplicant</title>
    <base href="/">
    <link rel="stylesheet" href="https://rawgit.com/asotog/squeezebox/master/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
{% endblock %}
<body>
  <div class="app-background vetty-applicant" style="background-color: #cee1f6;width: 100%;height: 100%;font-family: Tahoma, Verdana, Segoe, sans-serif;padding-bottom: 80px;">
  <!-- <Header class="header"></Header> -->
  <div class="custom-container">
    <router-outlet></router-outlet>
    <!-- <Headline></Headline> -->
    <div class="row m-no-margin">
        <div >
<div class="login-header" style="padding: 10px;">
    <center>
 <img src="http://devapplicant.vetty.co/assets/vetty_logo_resized.png" class="img-responsive" />
</center>
</div>
                <div class="login-border" style="background-color: #ffffff;border-radius: 5px;">
                    {% block content %}
<div class="login-box" style="background-color: #ffffff;border-radius: 5px;width: 100%;">
  <form class="form">
    <p>Hi there,</p>
    <p>Email Invoice Generation.</p>
    <p>Thanks,<br>
      The vetty Team</p>
      <!--
            <div class="reset-box">
            <div class="form-button">
                <button class="form-control btn btn custom reset-button" onclick="window.location.href='{{ reset_link }}'">RESET PASSWORD</button>
            </div>
        </div>
    -->
  </form>
</div>
        {% endblock %}
                </div>
        </div>
    </div>
    <div  class="copy-box" style="text-align: center;padding-top: 10px;padding-bottom: 20px;">&copy; Vetty 2018</div>
  </div>
  
</div>
</body>
</html>