<meta charset="UTF-8" />
<style>
	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
	}

	th,
	td {
		padding: 5px 5px 0px 5px;
		text-align: left;
	}

	table td:last-child,
	table th:last-child {
		text-align: right;
	}

	.subpart {
		margin-left: -6px;
		width: 100%;
		margin-top: -1px;
		margin-right: -6px;
		border-bottom: 1px solid black;
		padding: 5px;
		height: 20px;
		float: left;
	}
	
	.subpart_last {
		margin-left: -6px;
		width: 100%;
		margin-top: -1px;
		margin-right: -6px;
		padding: 5px;
		height: 20px;
		float: left;
	}
</style>
<div> {% include 'new.html' %} </div>
<div class="middle-section" style="margin-top:60px;">
	<div class="table-wrap" style="width: 100%;margin: 0 auto; ">
		<div class="first-table">
			<h3>Billing Overview</h3>
		</div>
		<table style="width: 100%;">
			<tr>
				<th colspan="2">Super Admin</th>
				<th>All</th>
			</tr>
			<tr>
				<td style="width:25%;" colspan="2">Number of Candidates</td>
				<td style="width:25%;">{{response.response.total_applicant}}</td>
			</tr>
			<tr>
				<td style="width:25%;" colspan="2">Total Package Price</td>
				<td style="width:25%;">${{response.response.total_pkg_price}}</td>
			</tr>
			<tr>
				<td style="width:25%;" colspan="2">Number of additional checks run</td>
				<td style="width:25%;">{{response.response.no_additional_check_run}}</td>
			</tr>
			<tr>
				<td style="width:25%;" colspan="2">Total additional checks Price</td>
				<td style="width:25%;">${{response.response.total_additional_checks_price}}</td>
			</tr>
			<tr>
				<td style="width:25%;" colspan="2">Discounts</td>
				<td style="width:25%;">${{response.response.total_discount}}</td>
			</tr>
			<tr>
				<td style="width:25%;" colspan="2">Additional Costs</td>
				<td style="width:25%;">${{(response.response.total_additional_cost)}}</td>
			</tr>
			<tr>
				<td style="width:25%;" colspan="2">Total Package and Check Price</td>
				<td style="width:25%;">${{response.response.total_pkgcheck_price}}</td>
			</tr>
			<tr>
				<td style="width:25%;" colspan="2">State Fees</td>
				<td style="width:25%;">${{response.response.state_fees}}</td>
			</tr>
			<tr>
				<td style="width:25%;" colspan="2">Third party fees</td>
				<td style="width:25%;">$0</td>
			</tr>
			<tr>
				<td style="width:25%;" colspan="2">Taxes</td>
				<td style="width:25%;">${{response.response.total_tax}}</td>
			</tr>
			<tr>
				<th colspan="2">Total</th>
				<th>${{response.response.total_amount}}</th>
			</tr>
		</table>

		<div class="second-table">
			<h3>Billing Details</h3>
		</div>
		{%for applicant in response.response.applicants%}
		<table style="width: 100% ;page-break-inside: avoid";>
			<tr>
				<th>Name: {{applicant.name}}</th>
				<th>SSN: {{applicant.ssn_id}}</th>
				<th>Order Date: {{applicant.order_date}}</th>
				<th>User: {{applicant.created_by}}</th>
			</tr>
			<tr>
				<td style="width:25%;">Package Name</td>
				<td style="width:25%;">Check Name</td>
				<td style="width:25%;">Price</td>
				<td style="width:25%;">State Fees</td>
			</tr>
			<tr>
				{%if not applicant.additional_applicant %}
				<td style="width:25%;">{{applicant.package_name}}</td>
				<td style="width:25%;">
					{%for check in applicant.checks %}
					{%if check.comment != 'additional check' %}
					{%if not loop.last%}
					<div class="subpart">{{check.title}}</div>
					{%endif%}
					{%if loop.last%}
					<div class="subpart_last">{{check.title}}</div>
					{%endif%}
					{%endif%}
					{%endfor%}</td>
				<td style="width:25%;">${{applicant.package_price}}</td>

				<td style="width:25%;">
					{%for check in applicant.checks%}
					{%if not loop.last%}
					{%if check.comment != 'additional check'%}
					{%if check.code == 'crimcounty' %}
					<div class="subpart">${{applicant.report_county_fee}}</div>
					{%elif check.code == 'drivrec' %}
					<div class="subpart">${{applicant.drivrec_cases_fees}}</div>
					{%else%}
					<div class="subpart"></div>
					{%endif%}
					{%endif%}
					{%endif%}

					{%if loop.last%}
					{%if check.comment != 'additional check'%}
					{%if check.code == 'crimcounty' %}
					<div class="subpart_last">${{applicant.report_county_fee}}</div>
					{%elif check.code == 'drivrec' %}
					<div class="subpart_last">${{applicant.drivrec_cases_fees}}</div>
					{%else%}
					<div class="subpart_last"></div>
					{%endif%}
					{%endif%}
					{%endif%}

					{%endfor%}
				</td>
				{%endif%}
			</tr>
			<tr>
				{%if 'additional_checks' in applicant.package%}
				{%if applicant.package.additional_checks%}
				<td style="width:25%;">Additional check</td>
				<td style="width:25%;">
					{%for check ,value in applicant.package.additional_checks.items()%}
					{%if not loop.last%}
					{%for count in range(0,value.get('suborders')|length)%}
					{%if check == 'crimcounty'%}
					<div class="subpart">County Criminal</div>
					{%elif check == 'Insuranceveri'%}
					<div class="subpart">Insurance Verification</div>
					{%elif check == 'ssntrace'%}
					<div class="subpart">SSN Trace</div>
					{%elif check == 'drivrec'%}
					<div class="subpart">Driving Record</div>
					{%elif check == 'natcrim'%}
					<div class="subpart">National Criminal</div>
					{%else%}
					<div class="subpart">{{check}}</div>
					{%endif%}
					{%endfor%}
					{%endif%}

					{%if loop.last%}
					{%for count in range(0,value.get('suborders')|length)%}
					{%if not loop.last%}
					{%if check == 'crimcounty'%}
					<div class="subpart">County Criminal</div>
					{%elif check == 'Insuranceveri'%}
					<div class="subpart">Insurance Verification</div>
					{%elif check == 'ssntrace'%}
					<div class="subpart">SSN Trace</div>
					{%elif check == 'drivrec'%}
					<div class="subpart">Driving Record</div>
					{%elif check == 'natcrim'%}
					<div class="subpart">National Criminal</div>
					{%else%}
					<div class="subpart">{{check}}</div>
					{%endif%}
					{%endif%}

					{%if loop.last%}
					{%if check == 'crimcounty'%}
					<div class="subpart_last">County Criminal</div>
					{%elif check == 'Insuranceveri'%}
					<div class="subpart">Insurance Verification</div>
					{%elif check == 'ssntrace'%}
					<div class="subpart_last">SSN Trace</div>
					{%elif check == 'drivrec'%}
					<div class="subpart_last">Driving Record</div>
					{%elif check == 'natcrim'%}
					<div class="subpart_last">National Criminal</div>
					{%else%}
					<div class="subpart_last">{{check}}</div>
					{%endif%}
					{%endif%}
					{%endfor%}
					{%endif%}

					{%endfor%}
				</td>
				
				<td style="width:25%;">
					{%for check ,value in applicant.package.additional_checks.items()%}

					{%if not loop.last%}
					{%for count in range(0,value.get('suborders')|length)%}
					{%if check == 'crimcounty'%}
					{%if applicant.additional_county%}
					<div class="subpart">${{applicant.additional_county[count].court_fee}}</div>
					{%endif%}
					{%elif check == 'drivrec'%}
					{%if applicant.additional_drivrec_fees%}
					<div class="subpart">${{applicant.additional_drivrec_fees[count]}}</div>
					{%endif%}
					{%else%}
					<div class="subpart"></div>
					{%endif%}
					{%endfor%}
					{%endif%}

					{%if loop.last%}
					{%for count in range(0,value.get('suborders')|length)%}
					{%if not loop.last%}
					{%if check == 'crimcounty'%}
					{%if applicant.additional_county%}
					<div class="subpart">${{applicant.additional_county[count].court_fee}}</div>
					{%endif%}
					{%elif check == 'drivrec'%}
					{%if applicant.additional_drivrec_fees%}
					<div class="subpart">${{applicant.additional_drivrec_fees[count]}}</div>
					{%endif%}
					{%else%}
					<div class="subpart"></div>
					{%endif%}
					{%endif%}

					{%if  loop.last%}
					{%if check == 'crimcounty'%}
					{%if applicant.additional_county%}
					<div class="subpart_last">${{applicant.additional_county[count].court_fee}}</div>
					{%endif%}
					{%elif check == 'drivrec'%}
					{%if applicant.additional_drivrec_fees%}
					<div class="subpart_last">${{applicant.additional_drivrec_fees[count]}}</div>
					{%endif%}
					{%else%}
					<div class="subpart_last"></div>
					{%endif%}
					{%endif%}
					{%endfor%}
					{%endif%}

					{%endfor%}
				</td>
				{%endif%}
				{%endif%}
			</tr>
			<tr>
				<th>Total</th>
				<th></th>
				<th>${{applicant.pkg_check_price}}</th>
				<th>${{applicant.total_county_fee}}</th>
			</tr>
		<tr>
			<th style='border:none'><div style=" margin-bottom :5px">Tax = ${{applicant.tax_value}}<br> Net State & 3rd Party Fees =
				${{applicant.state_fees}}<br>
				{%if 'discount' in applicant %}
					Discount = ${{applicant.discount}}<br>
				{%endif%}
					{%if 'additional_cost' in applicant%}
					Additional Cost = ${{applicant.additional_cost}}<br>
					{%endif%}
				Total = ${{applicant.final_amount}}</div></th>
			<th style="border:none";></th>	
			<th style="border:none";></th>
			<th style="border:none";></th>
			</tr>
		</table>
		<br />
		{%endfor%}
	</div>
</div>
