<html>
<head>
</head>
<body>
{% block head %}
<style type="text/css">
.left-half {
  /*background-color: #ff9e2c;*/
  position: absolute;
  left: 10px;
  width: 50%;
}

.right-half {
    text-align: right;
  /*background-color: #b6701e;*/
  position: absolute;
  right: 10px;
  top: 50px;
  width: 50%;
}
</style>

<div class="main_div" style="height: 70px;margin: 0 auto;">
<div >
  <div class="left-half">
    <div style="" class="img_div">
    <img src="http://client.vetty.co/assets/Vetty_Logo_488x188.png" alt="logo" height=auto; width=250px></div>

    <div style="
    ">Vetty Inc. 609 Greenwich St.,
        #04-110
        New
        York, NY 10014
    </div>

  </div>
  <div class="right-half">
    <div>Customer</div>
    <div>{{response.response.client_name}}</div>
    <div>{{response.response.client_physical_address}}</div>
    <div>Invoice Number : {{response.response.invoice_id}}</div>
    <div>Invoice Date : {{response.response.invoice_date}}</div>


  </div>
</div>
</div>






    {% endblock %}
</body>
</html>

