<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<link rel="icon" href="images/fabicon.gif" type="image/gif" sizes="16x16"/>
	<link rel="stylesheet" href="style.css" type="text/css" />
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
table td:last-child, table th:last-child {
	text-align: right;
}
.bodyWrap {
	width: 100%;
	float: left;
}
</style>
</head>
<body>
	{% include 'invoice_header.html' %}
	<div class="middle-section" style = "margin-top: 80px;">
		<div class="table-wrap" style="width: 100%;margin: 0 auto;">
			<div class="bodyWrap">
					<table style="width: 100%;">
							<tr>
								<th colspan="2">Super Admin</th>
								<th>All</th>
							</tr>
							<tr>
								<td style="width:25%;" colspan="2">Number of Candidates</td>
								<td style="width:25%;">{{response.total_applicant}}</td>
							</tr>
							<tr>
								<td style="width:25%;" colspan="2">Total Package Price</td>
								<td style="width:25%;">${{response.total_pkg_price}}</td>
							</tr>
							<tr>
								<td style="width:25%;" colspan="2">Number of additional checks run</td>
								<td style="width:25%;">{{response.no_additional_check_run}}</td>
							</tr>
							<tr>
								<td style="width:25%;" colspan="2">Total additional checks Price</td>
								<td style="width:25%;">${{response.total_additional_checks_price}}</td>
							</tr>
							<tr>
								<td style="width:25%;" colspan="2">Discounts</td>
								<td style="width:25%;">${{response.total_discount}}</td>
							</tr>
							<tr>
								<td style="width:25%;" colspan="2">Additional Costs</td>
								<td style="width:25%;">${{(response.total_additional_cost)}}</td>
							</tr>
							<tr>
								<td style="width:25%;" colspan="2">Total Package and Check Price</td>
								<td style="width:25%;">${{response.total_pkgcheck_price}}</td>
							</tr>
							<tr>
								<td style="width:25%;" colspan="2">State Fees</td>
								<td style="width:25%;">${{response.state_fees}}</td>
							</tr>
							<tr>
								<td style="width:25%;" colspan="2">Third party fees</td>
								<td style="width:25%;">$0.00</td>
							</tr>
							<tr>
								<td style="width:25%;" colspan="2">Taxes</td>
								<td style="width:25%;">${{response.total_tax}}</td>
							</tr>
							<tr>
								<th colspan="2">Total</th>
								<th>${{response.total_amount}}</th>
							</tr>
						</table>

			<br>
            <br>
			<table style="width: 100%;page-break-inside:avoid">
				<tr>
					<th colspan="2">Candidate Name</th>
					<th>Order Dt.</th>
					<th>Package Name</th>
					<th>Price</th>
					<th>Discount</th>
					<th>Additional Cost</th>
					<th>Third Party Fees</th>
					<th>State Fees</th>
					<th>Tax</th>
					<th>Total</th>
				</tr>
				<tr>
					{%for applicant in response.applicants%}
								{%if not applicant.additional_applicant %}
					<td colspan="2">{{applicant.name}}</td>
					<td>{{applicant.order_date}}</td>
					<td>{{applicant.package_name}}</td>
					<td>${{applicant.package_price}}</td>
					<td>${{applicant.discount}}</td>
					<td>${{applicant.additional_cost}}</td>
					<td>$0.00</td>
					<td>${{applicant.report_county_fee|float + applicant.drivrec_cases_fees|float}}</td>
					<td>${{"%.2f" %(applicant.package_price|float * (applicant.tax)/100)}}</td>
					<td>${{"%.2f" %((applicant.package_price|float + applicant.report_county_fee|float+
						applicant.drivrec_cases_fees|float) + (applicant.package_price|float *
						(applicant.tax)/100)-(applicant.discount|float)+(applicant.additional_cost|float)) }}
					</td>
				</tr>
				{%endif%}
					{%if 'additional_checks' in applicant.package%}
				<tr><td colspan="2">{{applicant.name}}</td>
					<td>{{applicant.order_date}}</td>
					<td>Additional Check</td>
					<td>${{applicant.additional_check_fee}}</td>
					{%if applicant.additional_applicant %}
					<td>${{applicant.discount}}</td>
					<td>${{applicant.additional_cost}}</td>
					{%else%}
					<td></td>
					<td></td>
					{%endif%}
					<td></td>
					<td>${{applicant.additional_county_fee|float + applicant.sum_additional_drivrec_fees|float}}</td>
					<td>${{"%.2f" %(applicant.additional_check_fee|float * (applicant.tax)/100)}}</td>
					{%if applicant.additional_applicant %}
					<td>${{"%.2f" %((applicant.additional_check_fee|float + applicant.additional_county_fee|float +
						applicant.sum_additional_drivrec_fees|float) + (applicant.additional_check_fee|float *
						(applicant.tax)/100)-(applicant.discount|float)+(applicant.additional_cost|float))}}
					</td>
					{%else%}
					<td>${{"%.2f" %((applicant.additional_check_fee|float + applicant.additional_county_fee|float +
						applicant.sum_additional_drivrec_fees|float) + (applicant.additional_check_fee|float *
						(applicant.tax)/100))}}
					</td>
					{%endif%}
				</tr>
				{%endif%}
				{%endfor%}
				<tr>
					<td colspan="2">Total</td>
					<td></td>
					<td></td>
					<td>${{response.total_pkgcheck_price}}</td>
					<td>${{response.total_discount}}</td>
					<td>${{response.total_additional_cost}}</td>
					<td>$0.00</td>
					<td>${{response.state_fees}}</td>
					<td>${{response.total_tax}}</td>
					<td>${{response.total_amount}}</td>
				</tr>
			</table>
			<br>
			<br>
			</div>
			</div>
			</div>
</body>
</html>