<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<link rel="icon" href="images/fabicon.gif" type="image/gif" sizes="16x16" />
	<link rel="stylesheet" href="style.css" type="text/css" />
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
table td:last-child, table th:last-child {
	text-align: right;
}
.bodyWrap {
	width: 100%;
	float: left;
}
</style>
</head>
{% include 'invoice_header.html' %}
<body>
	<div class="first-table" style="width: 100%;margin: 80px auto 0;">
				<h3>Lvl 1( Summary-Individual Admin/Super User)</h3>
			
			<table style="width: 100%">
				<tr>
					<th colspan="2">Super User Name</th>
					<th>{{response.client_name}}</th>
				</tr>
				<tr>
					<td colspan="2">Total Package Price</td>
					<td>${{response.total_pkg_price}}</td>
				</tr>
                <tr>
                    <td colspan="2">Total additional checks Price</td>
                    <td> ${{response.total_additional_checks_price}}</td>
                </tr>
				<tr>
					<td colspan="2">Number of Candidates</td>
					<td>{{response.total_applicant}}</td>
				</tr>
				<tr>
								<td style="width:25%;" colspan="2">Discounts</td>
								<td style="width:25%;">${{response.total_discount}}</td>
							</tr>
							<tr>
								<td style="width:25%;" colspan="2">Additional Costs</td>
								<td style="width:25%;">${{(response.total_additional_cost)}}</td>
							</tr>
				<tr>
					<td colspan="2">State Fees </td>
					<td>${{response.state_fees}}</td>
				</tr>
				<tr>
					<td colspan="2">Third Party Fees</td>
					<td>$0.00</td>
				</tr>
				<tr>
					<td colspan="2">Taxes</td>
					<td>${{response.total_tax}}</td>
				</tr>
				<tr>
					<th colspan="2">Total</th>
					<th>${{response.total_amount}}</th>
				</tr>
			</table>
		</div>
	</div>
	</div>
</body>
</html>
