{% extends 'vetty_layout.html' %}
{% block content %}
<div>
<p>Hi {{applicant.first_name}},</p>
<p>2 days Passed Since you Submitted Review Please Confirm if all dispute has been submitted,Please reach out to <a href="mailto:support@vetty.co">support@vetty.co</a> for more information.</p>
<p>Thanks,<br/>
The Vetty Team
</p>
</div>
{% endblock %}
