{% extends 'vetty_default_template.html' %}

{% block content %}
<table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tbody>
      <tr>
        <td class="pc-xs-p-15-10-20 pc-sm-p-20-20-25" style="padding: 20px 30px 35px; background-color: #ffffff" bgcolor="#ffffff" valign="top">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
              <tr>
                <td style="font-size: 0;" valign="top">
                  <!--[if (gte mso 9)|(IE)]><table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation"><tr><td width="255" valign="middle"><![endif]-->
                  <div class="pc-sm-mw-100pc" style="display: inline-block; width: 100%; max-width: 255px; vertical-align: middle;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                      <tbody>
                        <tr>
                          <td class="pc-sm-ta-center" valign="top" style="padding: 10px;">
                            <a href="" style="text-decoration: none;"><img src="https://devapplicant.vetty.co/assets/emails/images/vetty-logo-@2x-hf0.png" width="130" height="" alt="" style="max-width: 100%; height: auto; border: 0; line-height: 100%; outline: 0; -ms-interpolation-mode: bicubic; font-size: 14px; color: #1B1B1B;"></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!--[if (gte mso 9)|(IE)]></td><td width="285" valign="middle"><![endif]-->
                  <div class="pc-sm-mw-100pc" style="display: inline-block; width: 100%; max-width: 285px; vertical-align: middle;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                      <tbody>
                        <tr>
                          <td class="pc-sm-ta-center" valign="top" style="padding: 9px 10px 10px; line-height: 18px; font-family: Helvetica, sans-serif; font-size: 14px;">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                </td>
              </tr>
              <tr>
                <td height="18" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
              </tr>
              <!--
              <tr>
                <td style="padding: 0 10px;" valign="top">
                  <img src="https://devapplicant.vetty.co/assets/emails/images/placeholder.png" width="520" height="" alt="" style="border: 0; line-height: 100%; outline: 0; -ms-interpolation-mode: bicubic; border-radius: 6px; max-width: 100%; height: auto; color: #1B1B1B; display: block;">
                </td>
              </tr>
            -->
              <tr>
                <td class="pc-fb-font" style="padding: 21px 10px 0 10px; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 16px; color: #7c879b" valign="top"> Hi {{ applicant.first_name }},</td>
              </tr>
              <tr>
                <td class="pc-xs-fs-30 pc-xs-lh-42 pc-fb-font" style="padding: 12px 10px 0 10px; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 36px; font-weight: 800; line-height: 46px; letter-spacing: -0.6px; color: #111620" valign="top">
                 <!-- <p>Your DL Information is missing</p> -->
                </td>
              </tr>
              <tr>
                <td class="pc-fb-font" style="padding: 10px 10px 0 10px; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 300; line-height: 28px; letter-spacing: -0.2px; color: #111620" valign="top">
                  
                  <p>We are hard at work processing your background check and are unable to complete your driving license verification. Please provide you driving license information as soon as possible so we can complete your background check.
                  </p>
                  
                  <!--<p>
                      Please log in to your Verified Profile to upload a picture of your driver's license: </p>
                  -->
                    <p>Log in here :</p>
                  <p>                   
                    <a href="https://applicant.vetty.co" style="text-decoration: none; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; color: #1f6efe">https://applicant.vetty.co</a>
                  </p>
                
                      
                </td>
              </tr>
              <tr>
                <td height="25" style="line-height: 1px; font-size: 1px;">&nbsp;</td>
              </tr>
              <tr>
                <td style="padding: 0 5px" valign="top">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td style="padding: 5px 9px;" valign="top">
                          <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                            <tbody>
                              <tr>
                                <td style="border-radius: 32px; background-color: #1f6efe" bgcolor="#1f6efe" valign="top" align="center">
                                  <a href="https://applicant.vetty.co" style="padding: 13px 17px; line-height: 24px; text-decoration: none; word-break: break-word; font-weight: 500; display: block; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 16px; color: #ffffff">Upload Driver's License</a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  {% endblock %}