{% extends 'vetty_layout.html' %}
{% block content %}
    <div class="login-box" style="background-color: #ffffff;width: 100%;border-radius: 5px;">
        <h4 style="font-size: 18px;font-weight: 500;margin-top: 0;"> Hi {{ applicant.first_name }},</h4>

        <p style="font-size: 14px;padding-bottom: 25px;"> We are hard at work processing your background check and are unable to complete your driving license verification. Please provide you driving license information as soon as possible so we can complete your background check. </p>

        <p>
            <button class="custom reset-button" style="width: auto;padding: 0;border-radius: 5px;border: none;height: auto;">
                <a href="http://applicant.vetty.co/" style="color: #ffffff;text-decoration: none;width: 100%;padding: 12px 10px;border-radius: 5px;background-color: #3b87da;">
                    <font color="white"> Add My Driving License Information </font>
                </a>
            </button>
        </p>

    </div>
{% endblock %}