{% extends 'print_form_template.html' %}
{% block content %}
<div style="font-size: 150%">
<p><strong>Disclaimer </strong> - This is an agreement between PaintZen and independent painter. This has nothing to do with Smart Screen Technology, Inc.. Smart Screen Technology, Inc. is the background checking provider and would need a release and consent form to conduct required background check. Background checking process will start only and only after you have signed and accepted both the Paintzen’s “Independent Painter Agreement” and “ SmartScreen’s “ Release & Consent Form”. <p>

<h3>INDEPENDENT PAINTER AGREEMENT </h3>
<p>
This Independent Painter Agreement (“Agreement”) is entered into as of

  <strong>{{ eff_date }} </strong>

(“Effective Date”), by and between PaintZen, Inc., a Delaware corporation, (“PaintZen”, “we” or “us”) and the entity providing services specified below (“Painter” or “you”):
<table class="table table-responsive">
<tr>
	<td> <strong>Painter</strong> </td>
	<td>{{ painter_name }}</td>
</tr>
<tr>
<td>
Address
</td>
<td>
    {{ address.street }}
    {{ address.city }}
    {{ address.state }}
    {{ address.zip }}
</td>
</tr>
<tr>
	<td> Contact </td>
	<td> {{ contact_name }}</td>
</tr>
<tr>
	<td> Phone</td>
	<td>{{ phone }}</td>
</tr>
<tr>
	<td> Email </td>
	<td>{{ email }}</td>
</tr>
</table>
 <h4>Background</h4>
<p>Through its website (the “Website”), PaintZen provides an online portal where individuals and businesses (“Customers”) can schedule, book, and pay for paint, supplies and painting services. The Website allows potential Customers to submit a request for painting services (“Painting Services”) and then generates a work order (the “Work Order”) containing the details of the proposed project (number of rooms, room types, extras, specifications, etc.) (the “Project”), including paint and painting supplies (“Supplies”). PaintZen communicates the Work Order to third party painters (such as you) who have expressed a desire to obtain leads from PaintZen. If a Painter accepts a request, the Service notifies the Customer and provides information regarding the Painter and the terms under which the Painter will provide the Painting Services to the Customer (the “Painting Contract”). All services provided by PaintZen to you by means of the Website or otherwise in connection proposing, accepting, scheduling or paying for Projects, including the services provided under this Agreement, are hereafter referred to as the “Service.”</p>

     <div>
 <p>You and PaintZen hereby agree as follows:</p>
 <p>1. &Tab; <b class="underline">Painting Projects</b></p>
 <p>(a) &Tab; <b>Project Info.</b> We may notify you from time to time of requests we have received from potential Customers for
 Painting Service Projects. We will send you information regarding the potential Project (“Project Info”), including the Work Order
 details and other potentially relevant information in accordance with PaintZen Policies (as defined below). You agree to use all
 Project Info solely for the purpose of deciding whether to accept or reject the Work Order and not for any other purpose.</p>
 <p>(b) &Tab; <b>Acceptance of Project.</b> You will have sole and complete discretion to accept or reject each Work Order request for Painting
 Services. You can accept the request using the process indicated by PaintZen. If you accept the Work Order request, the Service will
 notify the Customer and provide the terms of the Painting Contract on your behalf. The Painting Contract will be in the form set forth
 in Schedule A hereto with the Work Order included therein as indicated in Schedule A, The Website will permit the Customer to accept and
 sign the Painting Contact electronically, and upon such Customer acceptance you agree to be bound by the tenns of the Painting Contract.
 PaintZen shall not be a party to the Painting Contract - you and the Customer are directly contracting for the Painting Services. You agree
 to perform the Painting Services and complete the Project in accordance with the terms negotiated by you and the Customer, including those
 terms set forth in the Work Order and the Painting Contract. You agree to pay PaintZen any applicable Lead Fee specified in Section 10 for
 all accepted Projects.</p>
 <p>(c) <b>Contact Info.</b> In connection with a Project or potential Project we may send your contact or bio information to the Customer or potential
 Customer. The information we provide about you will be based on the information you provide to us in connection with this Agreement.</p>
 <p>(d) <b>Project Cancellation.</b> You may cancel an accepted Project for cause if the Customer site is unsuitable, inaccessible or unsafe or hazardous
 materials are present, or due to force majeure or inappropriate activity by the Customer or third parties. In such a case, you agree not to charge the
 Customer for any work that was not performed prior to termination. Any cancellation or rescheduling of a Project shall be in accordance with the
 PaintZen Policies (as defined below). Please be advised that PaintZen may take into account any cancellation or rescheduling of Projects in deciding
 whether to provide Project leads to you in the future.</p>
 <p><b>2. Leads.</b> We do not guarantee to provide you any specific number of Project leads, nor do we make guarantees, representations or warranties
 regarding the accuracy of the information provided by the Customers, or that any Customers will hire you to perform Painting Services.
 </p>
 <p><b>3. PaintZen Policies.</b> In connection with providing services for Customers and Projects, you agree to comply with the PaintZen professional policies
 attached hereto as Schedule B (the “PaintZen Policies''), including any required insurance coverage and our 100% satisfaction guarantee
 (the “Satisfaction Guarantee"). PaintZen may change the PaintZen Policies from time to time upon at least 30 days’ notice, provided that you may
 terminate this Agreement if you do not agree with the changes. If you do not exercise your termination right you will be deemed to have accepted the
 changed PaintZen Policies.</p>
 <p><b>4. Provision of Services.</b> You will retain absolute discretion as to the manner and means of
 carrying out your services. You will generally render services as needed to perform your duties hereunder and provide the Painting Services in accordance with
 the terms of the Painting Contract and accepted Work Order, including the term, schedule and specifications therein. In providing Painting Services
 you are solely responsible for complying with (a) EPA Lead Laws and regulations, OSHA safety requirements and other applicable laws, regulations and
 rules, and (b) local licensing regulations applicable to you and the Painting Services.</p>
 <p><b>5. Relationship of the Parties. </b>Neither party shall be or represent itself to be an employee, employer, joint venturer, agent or partner of the other,
 and neither party is authorized to assume or create any obligations or liabilities, express or implied, on behalf of or in the name of the other.
 The employees, methods, facilities and equipment of each party shall at all times be under the exclusive direction and control of that party.
 You acknowledge that you are engaged in an independent business and are not eligible to participate in any pension, health, or other fringe benefits
 plan of PaintZen. No Workers’ Compensation Insurance shall be obtained by PaintZen for you. You understand that it is your responsibility to
 comply with the Workers’ Compensation law, and that in no event will PaintZen get involved in Workers’ Compensation claims or be liable for
 injuries suffered at a Customer site.</p>
 <p><b>6. Resolution of Disputes.</b> We are not involved in, nor do we have any responsibility for your Painting Contract with a Customer, or any disputes they
 may have with you or you may have with them. You will cooperate with us if we attempt to facilitate the resolution of any complaints between
 you and Customers; however we are not liable to you or any Customer if such matters cannot be resolved. If requested by us, you agree, at your
 expense, to address complaints in connection with our Satisfaction Guarantee, including providing services to correct any deficient or defective
 performance of the Painting Services until the Customer is 100% satisfied with the work. We reserve the right to charge you for any amounts paid
 to a Customer based upon our Satisfaction Guarantee, any services obtained by us from others to correct complaints under the Satisfaction Guarantee,
 or otherwise arising from your perfonnance of, or failure to perform, Painting Services for a Customer, and you agree to reimburse us for any such
 payments. You agree that we shall have the right to disclose any information we have regarding you and your Company to any authorities requesting
 information from us regarding any work or services you have performed.</p>
 <p><b>7. Non-Exclusive. </b>You and PaintZen acknowledge that this Agreement is nonexclusive. PaintZen is free to provide leads to other painters
 to provide Painting Services. Nothing in this Agreement precludes you from advertising or providing your services to the general public or through
 another lead generation service.</p>
 <p><b>8. Supplies and Expenses. </b>PaintZen will supply at the Customer site all perishable supplies needed for a Project such as paint, roller covers and plastic.
 You are solely responsible for all other costs and expenses related to the Painting Services provided to the Customer, including expenses associated
 with preparing for and administering the Painting Services and transportation. You are expected to bring all basic tools, supplies and equipment
 necessary to complete the Project at your own expense, including brushes, roller handles, drop cloths, ladders, etc. PaintZen will not be liable
 to you for any expenses incurred in rendering the Painting Services except for remitting the Project Fee in accordance with Section 10.</p>
 <p><b>9. Personnel.</b> You agree to  allow only  employees of  your  company or  independent
 contractors performing services directly on behalf of your business (“Personnel") to contact or provide any Painting Services to Customers in connection with
 Projects. To the extent you use any such Personnel, you shall be responsible and liable for all acts and omissions of such Personnel and for ensuring
 that such Personnel comply with all the provisions of this Agreement, including PaintZen Policies. You agree not to sell, trade, gift, assign, or
 otherwise transfer any leads provided by PaintZen to any other party, including any other PaintZen painters.</p>
 <p><b>10. Payments.</b></p>
 <p>(a) The  PaintZen  payment   processing  system  facilitates collecting  and remitting
 payments for any Painting Services rendered to Customers in connection with Projects. Except as provided in the PaintZen Policies or in
 connection with a Dispute, under no circumstances should you to attempt to seek or receive compensation directly from Customers for anything
 related to the Painting Services or Supplier. The quoted price for a Project (the “Project Fee") is included in the Project Info sent to
 you - this price will reflect the price quoted to the Customer less a Lead Fee calculated in accordance with PaintZen’s policies. At the
 time you accept a Project, PaintZen will charge the Customer a deposit with the remainder charged on the day you are scheduled to begin providing
 the Painting Services. We retain the Project Fee on your behalf until the Project is closed as provided in Section 10(c).</p>
 <p>(b) The Service will automatically deliver an electronic invoice to us upon completion of the Project. You agree to provide any information
 necessary to complete and submit such invoice as requested through the Service.</p>
 <p>(c) If we do not receive a complaint from a Customer within three days after completion of a Project (the “Complaint Period"), then the Project
 will be marked as closed and we will transfer the agreed upon Project Fee payment to your Bank Account (as defined below) We shall not be liable
 to transfer any part of the Project Fee due to you which we have not received from the Customer (or their financial institution), including due
 to chargebacks, and you agree that in the event fees are owed to you but have not been received by us from the Customer your sole recourse is to
 pursue legal remedies against the Customer (not PaintZen) under the Painting Contract between you and the Customer.</p>
 <p>(d) If within the applicable Complaint Period a Customer notifies us of a complaint regarding the Painting Services or the Project, we will attempt
 to assist you in resolving the dispute with the Customer and/or reaching an accommodation. We will continue to hold the Project Fee amount
 (in a non-interest bearing account) without release pending (1) withdrawal of the Customer’s complaint; (2) joint instructions from you and the
 Customer to release the Project Fee; (3) dispute resolution pursuant to the Arbitration provisions of Section 24; or (4) receipt of an order from
 an arbitrator or court of competent jurisdiction or other release required by process of law.</p>
 <p>(e) Project Fees will be paid to you via a valid automated clearing house (“ACH”) enabled bank account at a United States-based financial institution
 (your ''’'Bank Account”) chosen by you. You represent that you are lawfully entitled to authorize credits and payments for such Bank Account and to
 agree to the Terms of this Agreement with respect thereto. PaintZen uses a third-party payment processor (the “Payment Processor”) to process payments
 or credits to your Bank Account. The processing of credits or payments will be subject to the terms, conditions and privacy policies of the
 Payment Processor and your bank in addition to the terms of this Agreement. We arc not responsible for any errors by the Payment Processor or for
 any security breaches suffered by such entity. By providing us with your Bank Account information you are authorizing PaintZen (and the Payment Processor)
 to initiate one or more ACH credit or debit entries or the creation of an equivalent bank draft for the specified amount(s) for your Bank Account for
 amounts to be paid or received hereunder.</p>
 <p>(f) In the event a Customer disputes via chargeback any amounts previously remitted to you for Painting Services, you agree that we may either: (i)
 initiate an electronic transfer (debit) from your Bank Account to collect the chargeback amount, or (ii) request that you promptly reimburse us
 for such chargeback amount in which case you will reimburse us within 7 days. You agree that your sole recourse with respect to chargebacks is
 to seek such amount from the Customer and/or pursue legal remedies against the Customer (not PaintZen) under the Painting Contract between you
 and the Customer. In die event we fail to receive reimbursement from you for chargeback amounts you agree that we have the right at our option
 to pursue you for payment, to seek reimbursement of any related costs incurred by us, to turn any unpaid amount over to collections and/or report
 delinquent payment to credit bureaus.</p>
 <p>(g) All Lead Fees constitute advertising fees paid by you to PaintZen and are in no way, referral commissions based upon your successful completion of
 services. No fee is due or payable to the extent such fee is in violation of any applicable law.</p>
 <p><b>11. Taxes.</b> We will collect and pay applicable sales tax for each Project on your behalf. You are responsible for all other federal, state,
 and/or local tax purposes relating to your business, Personnel or the Painting Services provided by you. Neither federal, nor state, nor local income
 tax, nor payroll tax of any kind shall be withheld by PaintZen on behalf of any Painter. You understand that it your responsibility to pay any such
 applicable taxes.</p>
 <p><b>12. Term.</b> This Agreement will remain in effect until termination. You or we may terminate this Agreement at time with or without cause by giving
 notice to the other. Upon termination of this Agreement, you will remain obligated to complete any Projects already scheduled, and to pay for any
 leads or Projects accepted by you, as of the termination date, unless otherwise agreed upon by the parties in writing. If this Agreement is terminated
 by us for cause, you will reimburse us for any reasonable costs of completing any Painting Services or providing Supplies for any Project that you had
 previously accepted and did not perform that are in excess of the amount we would have paid to you but for your breach of this Agreement. This remedy
 shall be in addition to any other remedy, at law or in equity, that we may have against you.</p>
 <p><b>13. Confidentiality and Restrictive Covenants.</b></p>
 <p>(a) You acknowledge that, in connection with this Agreement, and during the performance of Painting Services, you will have access to information relating
 to Customers and potential Customers, including their address, contact information, and other personal information (“Confidential Information”).
 Confidential Information includes the Project Info as well as any details about the Customer’s life, activities, property, possessions and family
 that you Icam during the Painting Services. You acknowledge and agree that you owe a duty to PaintZen and the Customer, during the term of this
 Agreement and thereafter, to hold all Confidential Infonnation in the strictest confidence and not to disclose it to any person, firm or corporation
 or to use it except as necessary in carrying out the Painting Services consistent with this Agreement. In no event will you take photographs or recordings
 on a Customer’s premises except as approved in writing by PaintZen and the Customer.</p>
 <p>(b) During the term of this Agreement, and for a period of one (1) year after termination (regardless of the reason for termination), you agree that you
 will not alone or together with another person or entity, directly or indirectly, in any manner or capacity, (i) contact, solicit, seek or accept from
 any Restricted Customer any request for painting services or perform any painting services for a Restricted Customer, or (ii) interfere with the
 relationship that PaintZen has with any of its Customers, vendors or suppliers. “Restricted Customer” means any Customer or potential Customer to
 whom you were introduced by PaintZen or via the Service.</p>
 <p>(c) You agree that we would be irreparably harmed by a breach of this Section 13 and that we will be entitled to an injunction (both preliminary and permanent)
 from any court of competent jurisdiction, without posting bond or other security, enjoining and restricting the breach or threatened breach of this
 Section.
 </p>
 <p><b>14. Proprietary Rights and Branding.</b></p>
 <p>
 (a) <b>Painter Trademarks. </b>During the term of this Agreement you hereby authorize
 us to use your name, company name and name of your personnel, as applicable, and any of the trademarks, service marks, trade names, logos and content,
 including photographs, that you supply to us (“Painter Branding”), for use and display through the Service and for use in marketing materials to be
 presented to Customers or potential Customers via emails  or otherwise to help  promote you, PaintZen or the Website. You agree that you will not be entitled to  any payments
 associated with our use of the foregoing.
 </p>
 <p>(b) <b>PaintZen Trademarks.</b> In connection with performing Projects,  you agree to
 distribute and employ as provided by the PaintZen Policies, any brochures, materials or other items bearing PaintZen’s trademarks, logos, trade names or other indicia
 (“.PaintZen Branding"). You agree not to use such materials for any projects other than Projects. Except for the foregoing, you may not use the PaintZen
 Branding in connection with your business or the promotion thereof, except as expressly pre-approvcd by us in writing. You are expressly prohibited from
 registering any trademarks or domain names similar to the PaintZen Branding.</p>
 <p>(c) <b>Proprietary Rights. </b>You retain all rights in your Painter Branding. You
 acknowledge and agree that all of the content and information posted on the PaintZen Website or provided through the Service, including any Project Info and the PaintZen Branding
 (but excluding any of your Painter Branding), is the sole and exclusive property of PaintZen. You acknowledge and agree that you have no right to
 reproduce, post, publish, display or otherwise use any such content displayed via the PaintZen Service, other than Painter Branding or content
 provided directly by you. All uses of a party’s Branding under this Agreement, and any goodwill therefrom, shall inure solely to the benefit of
 the party owning such Branding.</p>
 <p><b>15. Representations and Warranties.</b> You represent, on behalf of yourself, your
 employees, and any individuals performing work on your behalf, as follows:</p>
 <p>(a) You are qualified and capable of performing the Painting Services and will perform them in accordance with industries standards in a
 professional, workmanlike manner.
 </p>
 <p>(b) You are, and at all times will be, properly and fully licensed, bonded and insured (at levels in accordance with applicable
 industry standards) under all applicable laws and trade regulations (and upon request will produce documentation to verify this),
 and further, that you have not been turned down for insurance coverage related to your provision of painting or other services.
 You will notify us promptly of any such changes to your licensing, bonding or insured status. If you are operating under a license
 with special restrictions you agree and represent that you will at all times operate within the guidelines as specified by such restrictions.
 </p>
 <p>(c) Except as otherwise accurately disclosed to PaintZen in writing you (and the predecessor entities, majority shareholders, partners or
 members of your company), are free from any (i) bankruptcies or civil legal judgments within the last 3 years, and (ii) felony criminal
 convictions. If at any time during the term of this Agreement the foregoing is no longer true you will promptly notify PaintZen in writing.</p>
 <p>(d) You (and the predecessor entities, majority shareholders, partners or members of your company) have not been sanctioned or penalized by any governmental authorities in connection with your provision of panting or other services to any of your customers, and that you have not been denied membership to (or had your membership revoked from) any professional industry associations.
 </p>
 <p>
 (e) You have all necessary rights to display any of the logos, service marks, trademarks, and any Painter Branding that you provide for the Service, and you represent that the display of any such Branding, and the use by PaintZen of such Branding as contemplated by this Agreement, shall not violate any third party’s intellectual property rights.
 </p>
 <p>(f) You will not engage in any illegal acts or acts of wrongdoing, dishonesty or unethical business practices with PaintZen, any Customer or other third party. You will at all times be in full compliance with all applicable federal, state, local and other laws and regulations that apply to your activities.
 You authorize PaintZen to verify that the above representations arc truthful and accurate.</p>
 <p><b>16. Feedback.</b> You acknowledge and agree that PaintZen has the right, in its sole discretion, to contact Customers about services you provide to gain their feedback and rating of you, and to use and display such feedback in connection with the Service. PaintZen is not responsible or liable to you for any comments, ratings or communications of any kind from Customers that we choose to display via the Service, provided that PaintZen may not selectively pick and choose among the comments, ratings and communications it chooses to publish to paint you in a false light.</p>
 <p><b>17. Indemnification.</b> You will be solely responsible for the performance of the Painting Services and your interaction with Customers. You agree to fully indemnify, defend and hold harmless PaintZen and all of its agents, officers, directors, shareholders, suppliers, partners, persomtel and each of their successors and assigns (collectively, “Indemnified Parties”) from and against any and all claims, demands, liens, damages, causes of action, and liabilities of any and every nature whatsoever (including reasonable attorneys’ fees and court costs), relating to or arising out of (i) any negligent or willful act or omission of you or your Personnel, including any resulting property damage or personal injury; (ii) your performance of, or failure to perform, the Painting Services; (iii) your violation of this Agreement or the PaintZen Policies, including breach of your representations or warranties herein; (iv) any claim related to your Personnel, including claims by your Personnel for employment, worker’s compensation, unemployment compensation or benefits, or claims by your personnel for personal injury suffered while performing work, (v) claims related to the Satisfaction Guarantee; (vi) intellectual property infringement, fraud or deceptive advertising by you or your Personnel; (vii) your violation of any applicable laws, rules or regulations; or (viii) your disputes with any Customers. PaintZen reserves the right, at its own cost, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with PaintZen in asserting any available defenses. Your indemnification obligations under this Section shall apply regardless of cause or of any fault or negligence
 of the Indemnified Parties and will not be limited by any insurance requirements related to this Agreement.</p>
 <p><b>18. Limitation of Liability.</b> IN NO EVENT WILL PAINTZEN BE LIABLE TO YOU FOR ANY CONSEQUENTIAL, INDIRECT, INCIDENTAL, PUNITIVE OR SPECIAL DAMAGES, LOST REVENUE, LOST PROFITS OR LOSS OF GOODWILL. IN NO EVENT WILL THE TOTAL AGGREGATE LIABILITY OF PAINTZEN TO YOU EXCEED THE AMOUNT OF PROJECT FEES ACTUALLY PAID OR PAYABLE BY US TO YOU DURING THE 6 MONTHS PRECEDING THE TIME THAT THE CLAIM AROSE, REGARDLESS OF THE BASIS OR FORM OF CLAIM.</p>
 <p><b>19. Waiver and Release.</b> You understand that PaintZen makes no representations to you about the suitability, character or background of any PaintZen Customer or potential Customer, nor does PaintZen perform any type of background check of Customers or potential Customers. It is your sole duty to exercise your own judgment, protocols and/or standards when considering whether to work with a potential Customer. You are never obligated by PaintZen to pursue any Work Order opportunity, AND YOU EXPRESSLY WAIVE AND RELEASE PAINTZEN FROM ANY AND ALL LIABILITY, CLAIMS, CAUSES OF ACTION, OR DAMAGES IN ANY WAY RELATED TO THE THIRD PARTIES INTRODUCED TO YOU BY PAINTZEN, INCLUDING WITHOUT LIMITATION ANY LIABILITIES ARISING IN CONNECTION WITH THE CONDUCT, ACT OR OMISSION OF ANY CUSTOMER (INCLUDING WITHOUT LIMITATION THEFT, STALKING, HARASSMENT THAT IS SEXUAL OR OTHERWISE, ACTS OF PHYSICAL VIOLENCE, AND DESTRUCTION OF PERSONAL PROPERTY) OR RELATED TO HIS/HER PREMISES OR THE PAINTING SERVICES YOU PROVIDE. YOU EXPRESSLY WAIVE AND RELEASE ANY AND ALL RIGHTS AND BENEFITS UNDER SECTION 1542 OF THE CIVIL CODE OF THE STATE OF CALIFORNIA OR ANY ANALOGOUS LAW OF ANY OTHER STATE WHICH READS AS FOLLOWS: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH, IF KNOWN BY HIM, MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE DEBTOR.”</p>
 <p><b>20. Disclaimer of Warranties.</b> YOU ACKNOWLEDGE AND AGREE THAT ANY SERVICES PROVIDED BY PAINTZEN TO YOU ARE MADE ON AN “AS IS” BASIS, AND PAINTZEN DISCLAIMS ANY AND ALL EXPRESS OR IMPLIED WARRANTIES, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NONINFRINGEMENT, TO THE MAXIMUM EXTENT PERMITTED BY LAW.
 </p>
 <p><b>21. Survival.</b> Upon termination of this Agreement, (a) any provisions contained herein which by their nature or effect are required or intended to be observed after termination will survive termination and remain binding, including the provisions regarding your indemnification obligations, your confidentiality obligations, our limitations of liability and the resolution of disputes through arbitration, and (b) any leads provided to you during the term of this Agreement and relationships you enter into or create from those leads will continue to be governed by this Agreement including but not limited to with respect to any disputes that may arise or claims that may be made against us and any indemnification of us by you for such claims.</p>
 <p><b>22. Assignment.</b> You may not assign or transfer this Agreement without the prior written consent of PaintZen.</p>
 <p><b>23. Severability and Waiver.</b> The unenforceability or invalidity of any provision shall not affect the force and validity of any other provision and such invalid provisions shall be deemed severed from this Agreement, and, if permissible, be replaced with terms which as closely as possible approximate the intent of such invalid provision. PaintZen’s failure to enforce any part of this Agreement will not be considered a waiver. Any waiver by PaintZen must be in writing and signed by PaintZen.</p>
 <p><b>24. Governing Law and Arbitration. </b>To the maximum extent permitted by law, this agreement is governed by the laws of the State of New York. Any dispute or claim relating in any way to this Agreement, the Service, or any supplies or services, including Painting Services, arranged or obtained by or through the Service, will be resolved by binding arbitration before a single arbitrator in New York City, rather than in court, except that you may assert claims in small claims court if your claims qualify. The Federal Arbitration Act and federal arbitration law apply to this Agreement. The arbitration will be administered by the American Arbitration Association in accordance with the Commercial Arbitration Rules then in effect, except as modified by this section. Judgment of the arbitration award may be entered into any court having jurisdiction thereof. You and PaintZen each agree that any dispute resolution proceedings will be conducted only on an individual basis and not in a class, consolidated or representative action. Further, unless both you and PaintZen otherwise agree in writing, the arbitrator may not consolidate more than one person’s claims, and may not otherwise preside over any form of any class or representative proceeding. If for any reason a claim proceeds in court rather than in arbitration you and PaintZen each waive any right to a jury trial. Both parties agree that either may bring suit in court to enjoin infringement or other misuse of intellectual property rights. You and PaintZen irrevocably consent to the exclusive jurisdiction of the courts located in New York City in connection with any litigation. Both parties waive any objection based on lack of personal jurisdiction, place of residence, improper venue or forum non conveniens in any such action. YOU ACKNOWLEDGE THAT UNDER THIS AGREEMENT YOU ARE CONSENTING TO ARBITRATION AND WAIVING ANY RIGHT TO A JURY TRIAL AND TO PARTICIPATE AS A MEMBER OF A CLASS OF CLAIMANTS.</p>
 <p><b>25. Notice and Electronic Disclosures.</b> Any notice required under this Agreement will be in writing and sent to the contact points shown below or such other contact point given by a party from time-to-time. Notices will be effective when received and will be sent via the Service or by email, facsimile, certified mail or by overnight courier. You consent to the electronic delivery of any disclosures contained in this Agreement. You agree to accept all disclosures and other communications between you and us via the Service or at the primary e-mail address provided to us. If any information needed to contact you
 electronically changes, you can update your contact information by sending notice to us or via the Service.
 </p>
 <p><b>26. Entire Agreement.</b> This Agreement contains the entire agreement and understanding between the parties hereto in respect to the subject matter hereof and supersedes, cancels and annuls any prior or contemporaneous written or oral agreements, understandings, commitments, and practices between them respecting the subject matter hereof!, including all prior agreements, if any, between you and PaintZen, which agreement(s) hereby are terminated and shall be of no further force or effect. This Agreement may only be amended or modified by a writing which makes express reference to this Agreement as the subject of such amendment and which is signed by Painter and a duly authorized officer of PaintZen.
 </p>
 <p><b>27. Miscallaneous.</b> Signed facsimile and PDF copies and counterparts of this Agreement and Addendums will legally bind each of us to the same extent as original documents.</p>
 <p><b>IN WITNESS WHEREOF, </b>the parties have executed this Agreement as of the Effective Date.</p>
     </div>

    <table class="table table-responsive" width="100%">
    <tr>
        <td> <strong> PaintZen, Inc. </strong> </td>
        <td> {{ painter_name }} </td>
    </tr>
    <tr>
        <td> <strong> Attn: </strong> </td>
        <td> <strong> Attn: </strong> {{ contact_name}} </td>
    </tr>
    <tr>
        <td> 242 W 30th St #500 </td>
        <td>  {{ address.street }}</td>
    </tr>
    <tr>
        <td> New York, NY 10001 </td>
        <td>  {{ address.city }}, {{ address.state }} {{ address.zip }}</td>
    </tr>
    <tr>
        <td> <strong> Email: </strong> johns@paintzen.com </td>
        <td>  <strong> Email: </strong> {{ email }}</td>
    </tr>
    <tr>
        <td> <strong>By: </strong> John Stracquatanio </td>
        <td>  <strong>By: </strong> {{ by }}
        </td>
    </tr>
    <tr>
        <td> <strong>Name:</strong> John Stracquatanio </td>
        <td> <strong>Name:</strong> {{ name }}</td>
    </tr>
    <tr>
        <td> <strong>Title:</strong> Sr Ops </td>
        <td> <strong>Title:</strong> {{ title}}</td>
    </tr>
    <tr>
        <td> <strong>Date:</strong> {{ date }}</td>
        <td> <strong>Date:</strong> {{ date }}</td>
    </tr>
    <tr>
        <td> </td>
        <td width="50%"> <img src="{{ signature_url }}" alt="signature"> </td>

    </tr>
    </table>



 <h3 class="text-center">SCHEDULE A</h3>
 <h3 class="text-center">PAINTING CONTRACT</h3>
 <p class="text-center">[SAMPLE FORM TO BE PROVIDED]</p>

 <h3 class="text-center">EXHIBIT B</h3>
 <h3 class="text-center">PAINTZEN POLICIES</h3>
 <p><b>A. 100% SATISFACTION GUARANTEE.</b> PaintZen offers Customers a 100% satisfaction guarantee. This means that PaintZen will continue to work to accommodate the Customer until the Customer is 100% thrilled with the outcome. A Painter agrees to continue to work on a Project until the Customer is 100% satisfied in accordance with this guarantee and the requests of PaintZen.</p>
 <p><b>B. INSURANCE REQUIREMENTS.</b> Throughout the term of this Agreement (and for insurance written on a claims made basis, through the end of the applicable statutes of limitations thereafter), a Painter shall maintain at its sole expense with financially responsible insurers and bond providers reasonably acceptable to PaintZen the following insurance and bond coverage;</p>
 <p>(1) Commercial general liability insurance covering claims for bodily injury, personal injury and property damage arising out of the Subcontractor’s performance under this Agreement with a per occurrence combined bodily injury and property damage per
 occurrence and aggregate of not less than $_____________. Such insurance shall include
 contractual liability and personal injury liability coverage and shall provide primary and non-contributing coverage for the Company as an additional insured.</p>
 <p>(2) Workers’ compensation insurance and employer’s liability insurance providing for payment of benefits to and for the account of all of the Subcontractor’s employees performing work under this Agreement and employer’s liability insurance as required by the laws of the state where the Services are performed.
 </p>
 <!-- <p>[ANY OTHER INSURANCE REQUIREMENTS]</p> -->
 <p>The policies will (i) name PaintZen as an additional insured, except where prohibited by law or insurer, including without limitation, with respect to third party claims or actions brought directly against Painter or against PaintZen and Painter as co-defendants and arising out of this Agreement, (ii) include a waiver of subrogation in favor of PaintZen, and (iii) be written as a primary policy not contributing with any other coverage which PaintZen may carry.</p>
 <p>Painter shall furnish PaintZen with certificate of insurances and evidence of bond coverage prior to performing any Painting Services in connection with this Agreement. In the event a Painter fails to furnish certificates and evidence of bond coverage prior to performing Painting Services under this Agreement or to continue to maintain such insurance and bond coverage during the performance of Painting Services, PaintZen shall have the right to terminate its Agreement with Painter for default or to withhold any payments or partial payments required to be made under this Agreement and shall have the right to continue withholding any or all of said payments so long as the Painter has not complied with the requirements of this Section B. Painter will, or will cause its insurer, to provide PaintZen with not less than thirty (30) days’ advance notice of cancellation, expiration or material change in policy terms and conditions.</p>

</div>
{% endblock %}