{% extends 'print_form_template.html' %}
{% block content %}
<h3> You've done a great job accomplishing this task. </h3>
    <p> We are also working very hard to put here some content instead of this stub. </p>
    <p> Sincerely, <br>
    developers team </p>
{% endblock %}