{% extends 'vetty_layout.html' %}

{% block content %}
<div class="login-box">
  <form class="form">
      {{ custom_text }}

{#            <div class="reset-box">#}
{#            <div class="form-button">#}
{#                <button class="custom reset-button" style="width: auto;padding: 0;border-radius: 5px;border: none;height: auto;"><a href="{{ reset_link }}" style="background-color: #3b87da;padding: 12px 10px;border-radius: 5px;text-decoration: none;font-size: 14px;color: #ffffff;">RESET PASSWORD</a></button>#}
{#            </div>#}
{#        </div>#}
  </form>
</div>
{% endblock %}