{% extends 'vetty_layout.html' %}
{% block content %}
    <div class="login-box" style="background-color: #ffffff;border-radius: 5px;width: 100%;">
        <h4 style="font-size: 18px;font-weight: 500;"> Hi {{ applicant.first_name }},</h4>

        {% if body %}
            {{ body }}
        {% else %}
            <p style="font-size: 14px;"> Please open the link below and provide <a href="http://www.vetty.co">
                Vetty </a> with the information needed
                to conduct a background check. <br>
                You will be shown disclosure documents and be asked for your authorization to run the background
                check.<br>

                {% if custom_text %}
                    <p> {{ custom_text }} </p>
                {% endif %}

            <p>
                <small style="font-size: 12px;">
                    If you have any questions about this process, please contact Vetty for further details. <br><br>
                </small>
            </p>
        {% endif %}
        <p>
           <!-- <button class="custom reset-button"
                    style="width: auto;padding: 10px 0;border-radius: 5px;border: none;height: auto;">
                <a href="{{ invitation_url }}"
                   style="background-color: #3b87da;padding: 12px 12px;border-radius: 5px;text-decoration: none;font-size: 14px;color: #ffffff;">
                    <font color="white">Get Started </font>
                </a>
            </button>
        -->

            <a class="custom reset-button" href="{{ invitation_url }}"
                   style="width: auto; height:auto; background-color: #3b87da;padding: 12px 16px;border-radius: 5px;text-decoration: none;font-size: 14px;color: #ffffff;">
                    <font color="white">Get Started </font>
                </a>

        </p><br>
        <p>If you face any issues using the above button, please copy the link provided below to a browser and start your application:<br><p style="word-break: break-word;">{{invitation_url}}</p></p>
        <p>Thanks!<br>
            The Vetty Team <br>
            <a href="mailto:support@vetty.co"> support@vetty.co</a></p>


    </div>
{% endblock %}
