{% extends 'vetty_default_template.html' %}


{% block content %}
<table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tbody>
      <tr>
        <td class="pc-xs-p-15-10-20 pc-sm-p-20-20-25" style="padding: 20px 30px 35px; background-color: #ffffff" bgcolor="#ffffff" valign="top">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
              <tr>
                <td style="font-size: 0;" valign="top">
                  <!--[if (gte mso 9)|(IE)]><table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation"><tr><td width="255" valign="middle"><![endif]-->
                  <div class="pc-sm-mw-100pc" style="display: inline-block; width: 100%; max-width: 255px; vertical-align: middle;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                      <tbody>
                        <tr>
                          <td class="pc-sm-ta-center" valign="top" style="padding: 10px;">
                            <a href="" style="text-decoration: none;"><img src="https://devapplicant.vetty.co/assets/emails/images/vetty-logo-@2x-hf0.png" width="130" height="" alt="" style="max-width: 100%; height: auto; border: 0; line-height: 100%; outline: 0; -ms-interpolation-mode: bicubic; font-size: 14px; color: #1B1B1B;"></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!--[if (gte mso 9)|(IE)]></td><td width="285" valign="middle"><![endif]-->
                  <div class="pc-sm-mw-100pc" style="display: inline-block; width: 100%; max-width: 285px; vertical-align: middle;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                      <tbody>
                        <tr>
                          <td class="pc-sm-ta-center" valign="top" style="padding: 9px 10px 10px; line-height: 18px; font-family: Helvetica, sans-serif; font-size: 14px;">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                </td>
              </tr>
              <tr>
                <td height="18" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
              </tr>
              <!--
              <tr>
                <td style="padding: 0 10px;" valign="top">
                  <img src="https://devapplicant.vetty.co/assets/emails/images/placeholder.png" width="520" height="" alt="" style="border: 0; line-height: 100%; outline: 0; -ms-interpolation-mode: bicubic; border-radius: 6px; max-width: 100%; height: auto; color: #1B1B1B; display: block;">
                </td>
              </tr>
            -->
              <tr>
                <td class="pc-fb-font" style="padding: 21px 10px 0 10px; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 16px; color: #7c879b" valign="top"> Hi {{ applicant.first_name }},</td>
              </tr>
              <tr>
                <td class="pc-xs-fs-30 pc-xs-lh-42 pc-fb-font" style="padding: 12px 10px 0 10px; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 36px; font-weight: 800; line-height: 46px; letter-spacing: -0.6px; color: #111620" valign="top">
                  <p>Drug Screen Appointment Confirmed</p>
                </td>
              </tr>
              <tr>
                <td class="pc-fb-font" style="padding: 10px 10px 0 10px; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 300; line-height: 28px; letter-spacing: -0.2px; color: #111620" valign="top">

                  <p>You have been electronically scheduled for a drug screen by  <span style="font-weight: bold; font-style: italic;">{{ client_name }}</span>.
                  <span style="text-decoration: underline">Please present the attached Donor Pass along with your government issued photo ID at the collection site below.</span><br/><br/>
                    You must complete the drug screen no later than: <span style="color: #FA4EFE; font-style: italic;">{{ expiry_date }}.</span><br/><br/>
                  <span style="font-weight: bold; font-size: 18px">Collection Site Details:</span><br/>
                  {{ site_details.collection_site_name }} <br/>
                  {{ site_details.collection_site_address }}, {{ site_details.collection_site_city }},
                  {{ site_details.collection_site_state }} {{ site_details.collection_site_zip }}<br/>
                  {{ phone_number }}<br/>
                  <h5>Hours of Operation:</h5>
                  <span style ="font-size: 14px">
                  {% if not site_details.mon_open %}
                    Mon Closed
                  {% else %}
                    Mon {{ site_details.mon_open }} - {{ site_details.mon_close }} {% endif %}<br/>
                  {% if not site_details.tue_open %}
                    Tue Closed
                  {% else %}
                    Tue {{ site_details.tue_open }} - {{ site_details.tue_close }} {% endif %}<br/>
                  {% if not site_details.wed_open %}
                    Wed Closed
                  {% else %}
                    Wed {{ site_details.wed_open }} - {{ site_details.wed_close }} {% endif %}<br/>
                  {% if not site_details.thur_open %}
                    Thu Closed
                  {% else %}
                    Thu {{ site_details.thur_open }} - {{ site_details.thur_close }} {% endif %}<br/>
                  {% if not site_details.fri_open %}
                    Fri Closed
                  {% else %}
                    Fri {{ site_details.fri_open }} - {{ site_details.fri_close }} {% endif %}<br/>
                  {% if not site_details.sat_open %}
                    Sat Closed
                  {% else %}
                    Sat {{ site_details.sat_open }} - {{ site_details.sat_close }} {% endif %}<br/>
                  {% if not site_details.sun_open %}
                    Sun Closed
                  {% else %}
                    Sun {{ site_details.sun_open }} - {{ site_details.sun_close }}  {% endif %}<br/></span><br/>
                  <span style="font-weight: bold; font-size: 18px">Need to take a test in a different location?</span> No problem, <a href="{{ app_login_link }}" style="text-decoration: underline; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; color: #1f6efe"> login to your Verified Profile</a> to find another testing location.
                  </p>
                </td>
              </tr>
              <tr>
                <td height="25" style="line-height: 1px; font-size: 1px;">&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  {% endblock %}