{% extends 'vetty_layout.html' %}

{% block content %}
<div class="login-box">
  <form class="form">
    <p style="font-weight: 500;font-size: 18px;">Hi,</p>
    <p> {{ applicant.first_name }},  would like to share profile with you,
        please click on the link provided below.</p>       

    <p>Thanks,<br>
      The Vetty Team</p>

      <div class="reset-box">
        <div class="form-button">
            <button class="custom reset-button" style="width: 160px;padding: 10px 0;border-radius: 5px;border: none;">
              <a href="{{ access_link }}" style="text-decoration: none;font-size: 14px;background-color: #3b87da;padding: 10px 14px;border-radius: 5px;color: #ffffff;">VETTY PROFILE</a>
            </button>
        </div>
    </div>            
  </form>
</div>
{% endblock %}