<html lang="en">

{% block head %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<![endif]-->
  <meta name="format-detection" content="telephone=no">
  <meta name="x-apple-disable-message-reformatting">
  <title></title>
  <style type="text/css">
    @media screen {
      @font-face {
        font-family: 'PT Serif';
        font-style: normal;
        font-weight: 400;
        src: local('PT Serif'), local('PTSerif-Regular'), url('https://fonts.gstatic.com/s/ptserif/v10/EJRVQgYoZZY2vCFuvAFSzrk.woff') format('woff'), url('https://fonts.gstatic.com/s/ptserif/v10/EJRVQgYoZZY2vCFuvAFSzr8.woff2') format('woff2');
      }
      @font-face {
        font-family: 'PT Serif';
        font-style: normal;
        font-weight: 700;
        src: local('PT Serif Bold'), local('PTSerif-Bold'), url('https://fonts.gstatic.com/s/ptserif/v10/EJRSQgYoZZY2vCFuvAnt66qWVy0.woff') format('woff'), url('https://fonts.gstatic.com/s/ptserif/v10/EJRSQgYoZZY2vCFuvAnt66qWVys.woff2') format('woff2');
      }
    }

    #outlook a {
      padding: 0;
    }

    .ReadMsgBody,
    .ExternalClass {
      width: 100%;
    }

    .ExternalClass,
    .ExternalClass p,
    .ExternalClass td,
    .ExternalClass div,
    .ExternalClass span,
    .ExternalClass font {
      line-height: 100%;
    }

    div[style*="margin: 14px 0"],
    div[style*="margin: 16px 0"] {
      margin: 0 !important;
    }

    table,
    td {
      mso-table-lspace: 0;
      mso-table-rspace: 0;
    }

    table,
    tr,
    td {
      border-collapse: collapse;
    }

    body,
    td,
    th,
    p,
    div,
    li,
    a,
    span {
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      mso-line-height-rule: exactly;
    }

    img {
      border: 0;
      outline: none;
      line-height: 100%;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }

    a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
    }

    body {
      margin: 0;
      padding: 0;
      width: 100% !important;
      -webkit-font-smoothing: antialiased;
    }

    .pc-gmail-fix {
      display: none;
      display: none !important;
    }

    @media screen and (min-width: 621px) {
      .pc-email-container {
        width: 620px !important;
      }
    }

    @media screen and (max-width:620px) {
      .pc-sm-p-25-20 {
        padding: 25px 20px !important
      }
      .pc-sm-mw-100pc {
        max-width: 100% !important
      }
      .pc-sm-ta-center {
        text-align: center !important
      }
      .pc-sm-p-35-30 {
        padding: 35px 30px !important
      }
      .pc-sm-p-31-20-39 {
        padding: 31px 20px 39px !important
      }
    }

    @media screen and (max-width:525px) {
      .pc-xs-p-15-10 {
        padding: 15px 10px !important
      }
      .pc-xs-p-25-20 {
        padding: 25px 20px !important
      }
      .pc-xs-br-disabled br {
        display: none !important
      }
      .pc-xs-p-15-10-25 {
        padding: 15px 10px 25px !important
      }
    }
  </style>
  <!--[if mso]>
    <style type="text/css">
        .pc-fb-font {
            font-family: Helvetica, Arial, sans-serif !important;
        }
    </style>
    <![endif]-->
  <!--[if gte mso 9]><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]-->
</head>
{% endblock %}


<body style="width: 100% !important; margin: 0; padding: 0; mso-line-height-rule: exactly; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;" class="">
  <span style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;">A message from Vetty Inc.</span>
  <table class="pc-email-body" width="100%" bgcolor="#f4f4f4" style="background-color: #f4f4f4; table-layout: fixed" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tbody>
      <tr>
        <td align="center" valign="top">
          <!--[if (gte mso 9)|(IE)]><table width="620" align="center" border="0" cellspacing="0" cellpadding="0" role="presentation"><tr><td width="620" align="center" valign="top"><![endif]-->
          <table class="pc-email-container" width="100%" align="center" style="margin: 0 auto; max-width: 620px;" border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
              <tr>
                <td align="left" style="padding: 0 10px;" valign="top">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                      <tr>
                        <td height="20" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation" style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1)">
                    <tbody>
                      <tr>
                        <td valign="top">
                          <!-- BEGIN MODULE: Menu 10 -->
                          <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                            <tbody>
                              <tr>
                                <td class="pc-sm-p-25-20 pc-xs-p-15-10" bgcolor="#ffffff" valign="middle" style="padding: 29px 30px; background-color: #ffffff; font-size: 0;">
                                  <!--[if (gte mso 9)|(IE)]><table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation"><tr><td width="255" valign="middle"><![endif]-->
                                  <div class="pc-sm-mw-100pc" style="display: inline-block; width: 100%; max-width: 255px; vertical-align: middle;">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                      <tbody>
                                        <tr>
                                          <td class="pc-sm-ta-center" valign="top" style="padding: 10px;">
                                            <a href="http://vetty.co" style="text-decoration: none;"><img src="https://devapplicant.vetty.co/assets/emails/images/vetty-logo-@2x-rqk.png" width="130" height="" alt="" style="max-width: 100%; height: auto; border: 0; line-height: 100%; outline: 0; -ms-interpolation-mode: bicubic; font-size: 14px; color: #1B1B1B;"></a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <!--[if (gte mso 9)|(IE)]></td><td width="285" valign="middle"><![endif]-->
                                  <div class="pc-sm-mw-100pc" style="display: inline-block; width: 100%; max-width: 285px; vertical-align: middle;">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                      <tbody>
                                        <tr>
                                          <td class="pc-sm-ta-center" valign="top" style="padding: 5px 10px; line-height: 18px; font-family: Helvetica, sans-serif; font-size: 14px;">
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- END MODULE: Menu 10 -->
                          <!-- BEGIN MODULE: Content 15 -->
                          {% block content %}
                          <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%" role="presentation">
                            <tbody>
                              <tr>
                                <td class="pc-sm-p-35-30 pc-xs-p-25-20" style="vertical-align: top; padding: 40px; background-color: #ffffff" valign="top" bgcolor="#ffffff">
                                  <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%" role="presentation">
                                    <tbody>
                                      <tr>
                                        <td class="pc-fb-font pc-xs-br-disabled" colspan="2" style="vertical-align: top; line-height: 1.56; font-family: 'PT Serif', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 300; letter-spacing: -0.2px; color: #111620" valign="top">
                                          <p>{body}</p>
                                        </td>
                                      </tr>


                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          {% endblock %}
                          <!-- END MODULE: Content 15 -->
                          <!-- BEGIN MODULE: Footer 5 -->
                          <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%" role="presentation">
                            <tbody>
                              <tr>
                                <td class="pc-sm-p-35-30 pc-xs-p-25-20" style="vertical-align: top; padding: 40px; background-color: #ffffff" valign="top" bgcolor="#ffffff">
                                  <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%" role="presentation">
                                    <tbody>
                                      <tr>
                                        <td class="pc-fb-font pc-xs-br-disabled" colspan="2" style="vertical-align: top; line-height: 1.56; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 300; letter-spacing: -0.2px; color: #111620" valign="top">Questions? Drop us a line at <a style="color: #1f6efe;" href="mailto:support@vetty.co" target="_blank" rel="noopener"><span style="color: #0051ff;">support@vetty.co</span></a>.</td>
                                      </tr>
                                      <tr>
                                        <td colspan="2" height="22" style="height: 22px; line-height: 1px; font-size: 1px;">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td width="40" style="width: 40px; vertical-align: middle;" valign="middle">
                                          <table border="0" cellpadding="0" cellspacing="0" style="width: 40px;" width="40" role="presentation">
                                            <tbody>
                                              <tr>
                                                <td style="vertical-align: top;" valign="top">
                                                  <img src="https://devapplicant.vetty.co/assets/emails/images/b-rad-heber-profile-ffl.png" width="40" alt="" style="max-width: 100%; height: auto; border: 0; text-decoration: none; line-height: 100%; outline: 0; -ms-interpolation-mode: bicubic; display: block;" height="">
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td style="vertical-align: middle; padding-left: 10px;" valign="middle">
                                          <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%" role="presentation">
                                            <tbody>
                                              <tr>
                                                <td class="pc-fb-font" style="vertical-align: top; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 500; line-height: 1.33; letter-spacing: -0.1px; color: #111620" valign="top">The Vetty Team</td>
                                              </tr>
                                              <tr>
                                                <td class="pc-fb-font" style="vertical-align: top; padding-top: 1px; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 300; line-height: 1.43; letter-spacing: -0.2px; color: #9B9B9B" valign="top"></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- END MODULE: Content 15 -->
                          <!-- BEGIN MODULE: Footer 5 -->
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                            <tbody>
                              <tr>
                                <td class="pc-sm-p-31-20-39 pc-xs-p-15-10-25" style="padding: 31px 30px 39px 30px; background-color: #ffffff" valign="top" bgcolor="#ffffff">
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                                    <tbody>
                                      <tr>
                                        <td valign="top" style="font-size: 0;">
                                          <!--[if (gte mso 9)|(IE)]><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td width="390" valign="top"><![endif]-->
                                          <div class="pc-sm-mw-100pc" style="display: inline-block; width: 100%; max-width: 390px; vertical-align: top;">
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                              <tbody>
                                                <tr>
                                                  <td class="pc-fb-font" style="line-height: 20px; letter-spacing: -0.2px; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 14px; color: #7c879b; padding: 10px" valign="top">Vetty Inc. 2019</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                          <!--[if (gte mso 9)|(IE)]></td><td width="150" valign="top"><![endif]-->
                                          <div class="pc-sm-mw-100pc" style="display: inline-block; width: 100%; max-width: 150px; vertical-align: top;">
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                              <tbody>
                                                <tr>
                                                  <td valign="top" style="padding: 9px 0 10px;">
                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                      <tbody>
                                                        <tr>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                          <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                                        </td>
                                      </tr>
                                      <tr>
                                        <td height="9" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td class="pc-fb-font" style="line-height: 20px; font-family: Arial, sans-serif; font-size: 14px; color: #9B9B9B; padding: 0 10px;" valign="top">
                                          <a href="http://vetty.co" style="text-decoration: none; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; color: #1f6efe">vetty.co</a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- END MODULE: Footer 5 -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                      <tr>
                        <td height="20" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Fix for Gmail on iOS -->
  <div class="pc-gmail-fix" style="white-space: nowrap; font: 15px courier; line-height: 0;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>
</html>